@{

}
<div class="row">
    <!-- ? Start About Us -->
    <div class="col-12 col-md-6 col-lg-5">
        <div class="widget-menu widget card">
            <div class="card-header">
                <h3 class="card-title">درباره ما</h3>
            </div>
            <p class="about_footer">
                قالب مَسای یک پکیج کامل ایرانی با هدف بی نهایت قالب HTML و WordPress و به روز رسانی همیشگی است، که تمام ویژگی های لازم طراحی سایت را در نظر میگیرد
            </p>
        </div>
    </div>
    <!-- ? End About Us -->
    <!-- ? Start Customer Services -->
    <div class="col-12 col-md-6 col-lg-4">
        <div class="widget-menu widget card">
            <div class="card-header">
                <h3 class="card-title">خدمات مشتریان</h3>
            </div>
            <ul class="footer-menu">
                <li>
                    <a>ارسال فوری</a>
                </li>
                <li>
                    <a>پشتیبانی سریع</a>
                </li>
                <li>
                    <a>بازگشت وجه</a>
                </li>
                <li>
                    <a>بسته بندی کالا</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ? Start Licences -->
    <div class="col-12 col-md-6 col-lg-3">
        <div class="widget-menu widget card">
            <div class="card-header">
                <h3 class="card-title">مجوزات</h3>
            </div>
            <div class="License_img">
                <a href="#" target="_blank"><img src="~/Theme/img/License_2.png" alt=""></a>
                <a href="#" target="_blank"><img src="~/Theme/img/License_1.png" alt=""></a>
            </div>
        </div>

    </div>
    <!-- ? End Licences -->
</div>